@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Pacifico&family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&family=Rubik+Bubbles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

body {
  overflow: hidden;
  background-color: #477879;
  font-family: "Itim", cursive;
  font-size: 12px;
}

.box {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}

.box::before {
  position: absolute;
  background-color: #e69c9f;
  width: 100px;
  height: 100px;
  content: "";
  bottom: 0;
  left: 0;
  clip-path: polygon(0 40%, 50% 0, 100% 40%, 100% 100%, 0 100%);
}

.box::after {
  position: absolute;
  width: 100px;
  background-color: #000;
  content: "";
  height: 10px;
  bottom: -30px;
  opacity: 0.4;
  filter: blur(10px);
}

.content {
  position: absolute;
  background-color: #f2eee4;
  width: 80%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -10px);
  height: 80px;
  transition: 0.5s;
  /* overflow: hidden;
      display: flex; */
}

.designBox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #d26f72;
  display: block;
  clip-path: polygon(0 0, 50% 35%, 100% 0, 100% 100%, 0 100%);
}

.designBox::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65%;
  background-color: #bd5559;
  content: "";
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.box:hover .content {
  transform: translate(-50%, -10%);
}

input {
  position: absolute;
  left: -10px;
  opacity: 0;
}

input:checked ~ .content {
  bottom: 100px;
  width: 250px;
  height: 400px;
  margin: 0;
  left: 50%;
  transform: translate(-50%);
}

.content {
  padding: 5%;
  background-color: antiquewhite;
}

.content .title {
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: x-large;
  font-family: "Bagel Fat One", system-ui;
  color: #d26f72;
  display: none;
  opacity: 0;
}

.content .title_2 {
  width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: x-large;
  font-family: "Bagel Fat One", system-ui;
  color: #d26f72;
  display: none;
  opacity: 0;
}

.content .title_2 .small-text {
  font-size: 0.7em;
  /* Giảm kích thước chữ của "20.10" */
  vertical-align: top;
  /* Căn chỉnh text nhỏ lên trên */
}

.content img {
  display: none;
  width: 75%;
  height: 40%;
  margin: 2% auto;
  border-radius: 10px;
  opacity: 0;
}

.content .description {
  padding: 10px 20px;
  display: none;
  opacity: 0;
}

.content label {
  width: 100%;
  text-align: left;
  display: none;
  opacity: 0;
}

.content .container {
  display: none;
  width: 90%;
  height: 50%;
  margin: 2% auto;
  opacity: 0;
  position: relative;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.img1 {
  position: absolute;
  width: 100%;
  height: 250%;
  margin: auto;
  border-radius: 20px;
  z-index: 1;
}

.img2 {
  position: absolute;
  width: 33.33%;
  top: -10%;
  left: 0;
  border-radius: 20px;
  z-index: 2;
}

.img3 {
  position: absolute;
  width: 77.33%;
  bottom: -28%;
  right: -35%;
  border-radius: 20px;
  z-index: 3;
}

.content label {
  margin-left: 10%;
}

input:checked ~ .content img,
input:checked ~ .content .container,
input:checked ~ .content .title,
input:checked ~ .content .title_2,
input:checked ~ .content .description,
input:checked ~ .content label,
input:checked ~ .content a {
  display: block;
  animation: showcontent 0.5s ease-in-out 3s 1 forwards;
}

input:checked ~ .content .title {
  animation-delay: 0.5s !important;
}

input:checked ~ .content .title_2 {
  animation-delay: 0.5s !important;
}

input:checked ~ .content img {
  animation-delay: 0.7s !important;
}

input:checked ~ .content .container {
  animation-delay: 0.7s !important;
}

input:checked ~ .content .description {
  animation-delay: 0.9s !important;
}

input:checked ~ .content label {
  animation-delay: 1.1s !important;
}

/* input:checked ~ .content a {
      animation-delay: 1.3s !important;
    } */
@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 50px);
  }

  to {
    opacity: 1;
  }
}
